body {
    font-family: 'Arial Narrow Bold', sans-serif;
    background-color: #a8bfeb;
    margin: 10px;
    padding: 20px;  
  }

  .navbar {
    overflow: hidden; 
    background-color: #a8bfeb;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
  }

  .navbar a {
    float: left;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #a8bfeb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  h3 { 
    text-align: center;
    }
  
  .me { 
    display: flex;   
    flex-direction: row;
    align-items: center;
    padding: 20px 20px;
  }
  
  .text { 
    margin: 0px 20px; 
  }
  
  .link { 
    display: flex; 
    align-items: center;
    justify-content: center;
  }


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 100px) {
  p.text { 
    font-size: 11px;
  } 
  .header { 
    width: 100%; 
    height: auto;
    display: flex;
  }

  .headshot { 
    width: 50%;
    position: relative;
  }
}


/* Desktops and laptops minimized ----------- */
@media only screen
and (min-width : 481px) {
  p.text { 
    font-size: 20px;
  } 

  .header { 
    width: 70%; 
    height: auto;
    display: flex;
  }

  .headshot { 
    width: 30%;
    position: relative;
  }
}


/* Desktops and laptops, maximized ----------- */
@media only screen
and (min-width : 1224px) {
  p.text { 
    font-size: 35px;
  } 

  .header { 
    width: 50%; 
    height: auto;
    display: flex;
  }

  .headshot { 
    width: 20%;
    position: relative;
  }
}
